.change_password {
    float: right !important;
    margin-top: -35px !important;
    background: transparent !important;
    color: #3e3459 !important;
    border: 1px solid #3e3459 !important;
    font-size: 13px !important;
    padding: 4px 19px !important;
    font-weight: 600 !important;
}

.change_password:hover {
    background: transparent !important;
    color: #3e3459 !important;
    border: 1px solid #3e3459 !important;
}

.editicon {
    color: blue !important;
    font-size: 20px !important;
    margin-top: 10px !important;
}

.domne {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    background: #278a2a;
}
.continue_btn {
    background-color: #3e3459 !important;
    color: white !important;
    width: 220px !important;
    height: 50px !important;
    margin-top: 60px !important;
    margin-bottom: 25px !important;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
  }

.continue_btn1{
    background-color: #3c3458 !important;
    text-transform: inherit !important;
    font-size: 20px !important;
    color: white !important;
    width: 280px;
    height: 50px;
    margin: 0 auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
  .parahow{
    text-align: center;
    font-size: 2rem;
    color: #3e3459;
  }
.row_btn{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
    justify-content:space-evenly;
    margin: auto;
}

.trainer_btn {
  height: 40px;
  width: fit-content !important;
  font-size: 15px !important;
  font-weight: lighter !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
  font-family: var(--Fontfamily) !important;
}
.trainer_btn {
    padding-left: 50px !important;
    padding-right: 50px !important;
    background-color: #1c4e4a !important;
    color: white !important;
    height: 40px;
  }
  
  .trainer_btn:hover {
    background-color: #1c4e4a !important;
    color: white !important;
  }

@media (max-width:700px){
    .continue_btn{
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    }
    .trainer_btn{
        width: 100% !important;
        margin: auto !important;
      }
}
